{% extends 'base.html' %}
    {% block content %}
    {% load static %}

    <div class="container text-center mt-5">
        <h2>Bargain Summary</h2>
        
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <p>Original Total Price: ₹{{ total_price|default:"0.00" }}</p>
            <p>Discount Applied: {{ discount|default:"0" }}%</p>
            <p>Final Price: ₹{{ final_price|default:"0.00" }}</p>
        {% endif %}
        
        <a href="{% url 'cart' %}" class="btn btn-primary mt-3">Back to Cart</a>
    </div>



    {% endblock %}
