{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.product_name }} - Rolex Store{% endblock %}

{% block content %}
<div class="container mx-auto p-6">
    <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="p-4">
                <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="w-full h-auto object-cover rounded-lg shadow-md">
            </div>

            <div class="p-6">
                <h1 class="text-2xl font-bold text-gray-800 mb-4">{{ product.product_name }}</h1>
                <p class="text-gray-600"><strong>Description:</strong> {{ product.description }}</p>
                <p class="text-gray-700 text-lg font-semibold"><strong>Price:</strong> ₹{{ product.price }}</p>
                
                <div class="mt-6 flex space-x-4">
                    <button class="add-to-cart"
                            data-id="{{ product.id }}"
                            data-name="{{ product.product_name }}"
                            data-price="{{ product.price }}"
                            data-image="{{ product.image.url }}">
                        Add to Cart
                    </button>
                    <button class="add-to-wishlist">Wishlist</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
